# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
.vs/Simple_Game_Engine/v16/.suo
.vs/Simple_Game_Engine/v16/Browse.VC.db
.vs/Simple_Game_Engine/v16/Browse.VC.db-shm
.vs/Simple_Game_Engine/v16/Browse.VC.db-wal
.vs/Simple_Game_Engine/v16/Browse.VC.opendb
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.command.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.read.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.write.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.command.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.read.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.write.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/Simple_Game_Engine.lastbuildstate
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/Simple_Game_Engine.write.1u.tlog
Simple_Game_Engine/x64/Release/Simple_Game_Engine.Build.CppClean.log
Simple_Game_Engine/x64/Release/Simple_Game_Engine.exe.recipe
Simple_Game_Engine/x64/Release/Simple_Game_Engine.iobj
Simple_Game_Engine/x64/Release/Simple_Game_Engine.ipdb
Simple_Game_Engine/x64/Release/Simple_Game_Engine.log
Simple_Game_Engine/x64/Release/Simple_Game_Engine.vcxproj.FileListAbsolute.txt
Simple_Game_Engine/x64/Release/vc141.pdb
Simple_Game_Engine/x64/Release/vc142.pdb
x64/Debug/Simple_Game_Engine.pdb
x64/Release/Simple_Game_Engine.iobj
x64/Release/Simple_Game_Engine.ipdb
x64/Release/Simple_Game_Engine.pdb
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.command.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.read.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.write.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.command.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.read.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.write.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/Simple_Game_Engine.lastbuildstate
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/Simple_Game_Engine.write.1u.tlog
Simple_Game_Engine/x64/Release/Simple_Game_Engine.log
Simple_Game_Engine/x64/Release/vc141.pdb
x64/Debug/Simple_Game_Engine.pdb
x64/Release/Simple_Game_Engine.iobj
x64/Release/Simple_Game_Engine.ipdb
x64/Release/Simple_Game_Engine.pdb
Simple_Game_Engine/x64/Debug/vc142.pdb
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.command.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.read.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.write.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.command.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.read.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.write.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/Simple_Game_Engine.lastbuildstate
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/Simple_Game_Engine.write.1u.tlog
Simple_Game_Engine/x64/Release/Simple_Game_Engine.log
Simple_Game_Engine/x64/Release/vc141.pdb
x64/Debug/Simple_Game_Engine.pdb
x64/Release/Simple_Game_Engine.iobj
x64/Release/Simple_Game_Engine.ipdb
x64/Release/Simple_Game_Engine.pdb
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.command.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.read.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.write.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.command.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.read.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.write.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/Simple_Game_Engine.lastbuildstate
Simple_Game_Engine/x64/Debug/Simple_G.D0CEBB3F.tlog/CL.command.1.tlog
Simple_Game_Engine/x64/Debug/Simple_G.D0CEBB3F.tlog/CL.read.1.tlog
Simple_Game_Engine/x64/Debug/Simple_G.D0CEBB3F.tlog/CL.write.1.tlog
Simple_Game_Engine/x64/Debug/Simple_G.D0CEBB3F.tlog/link.command.1.tlog
Simple_Game_Engine/x64/Debug/Simple_G.D0CEBB3F.tlog/link.read.1.tlog
Simple_Game_Engine/x64/Debug/Simple_G.D0CEBB3F.tlog/link.write.1.tlog
Simple_Game_Engine/x64/Debug/Simple_G.D0CEBB3F.tlog/Simple_Game_Engine.lastbuildstate
Simple_Game_Engine/x64/Debug/Simple_Game_Engine.exe.recipe
Simple_Game_Engine/x64/Debug/Simple_Game_Engine.ilk
Simple_Game_Engine/x64/Debug/Simple_Game_Engine.log
Simple_Game_Engine/x64/Debug/vc142.idb
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.command.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.read.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/CL.write.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.command.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.read.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/link.write.1.tlog
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/Simple_Game_Engine.lastbuildstate
Simple_Game_Engine/x64/Release/Simple_G.D0CEBB3F.tlog/Simple_Game_Engine.write.1u.tlog
Simple_Game_Engine/x64/Release/Simple_Game_Engine.log
Simple_Game_Engine/x64/Release/vc141.pdb
x64/Debug/Simple_Game_Engine.pdb
x64/Release/Simple_Game_Engine.iobj
x64/Release/Simple_Game_Engine.ipdb
x64/Release/Simple_Game_Engine.pdb
